/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(https://fonts.gstatic.com/s/lato/v11/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(https://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  margin: 0; }

* {
  text-shadow: 0 0 0 transparent !important; }

#Profile .BodyWrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Lato", sans-serif;
  background-image: url("/src/img/city.jpg");
  background-size: cover;
  background-position: center; }
  #Profile .BodyWrapper .main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); }
    #Profile .BodyWrapper .main .profilPic {
      width: 100px;
      height: 100px;
      padding-bottom: 2vh; }
      #Profile .BodyWrapper .main .profilPic .profilPicWrapper {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden; }
        #Profile .BodyWrapper .main .profilPic .profilPicWrapper img {
          width: 100%;
          height: 100%; }
    #Profile .BodyWrapper .main .profileDiscription {
      text-align: center;
      padding-bottom: 9vh; }
      #Profile .BodyWrapper .main .profileDiscription .nameUser {
        color: #ff4d79;
        font-weight: 900;
        font-size: 22px;
        letter-spacing: 1px;
        padding-bottom: 0.8vh;
        text-transform: uppercase; }
      #Profile .BodyWrapper .main .profileDiscription .discriptionUser {
        color: whitesmoke;
        font-size: 13px;
        letter-spacing: 0.4px; }
      #Profile .BodyWrapper .main .profileDiscription .websiteUser {
        padding-top: 0.8vh; }
        #Profile .BodyWrapper .main .profileDiscription .websiteUser a {
          color: whitesmoke;
          font-size: 13px;
          letter-spacing: 0.4px;
          font-weight: 900;
          text-decoration: none; }
    #Profile .BodyWrapper .main .hireMe {
      width: 150px;
      height: 50px;
      background-color: #f36;
      border-radius: 4%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-weight: 300;
      margin-bottom: 18vh; }
      #Profile .BodyWrapper .main .hireMe a {
        padding: 15px 35px;
        text-decoration: none;
        color: whitesmoke;
        font-weight: 700; }
      #Profile .BodyWrapper .main .hireMe:hover {
        background-color: #F2124A; }

.btn-active {
  border-top: 3px solid #F2124A; }
  .btn-active a {
    color: #F2124A !important; }

.profileTabs {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.2); }
  .profileTabs .button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .profileTabs .button a {
      font-family: "Lato", sans-serif;
      text-decoration: none;
      color: #f36;
      padding: 40%;
      cursor: pointer; }

.nav-focused {
  background: #f36 !important; }
  .nav-focused i {
    color: white; }

#container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms; }

body {
  overflow-x: hidden; }

.nav-inner-wrapper {
  height: 100%; }
  .nav-inner-wrapper .nav-items {
    height: 16.66667%;
    width: 100px;
    background: #2B2B2B;
    border-bottom: 1px solid black; }
    .nav-inner-wrapper .nav-items:nth-child(6) {
      transform: rotate(180deg); }
    .nav-inner-wrapper .nav-items i {
      font-size: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }

.nav-header {
  height: 44px;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #f36; }
  .nav-header .nav-burger {
    width: 40px;
    height: 30px;
    overflow: hidden;
    position: relative;
    margin: 11px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .nav-header .nav-burger span {
      width: 100%;
      height: 3px;
      background: #2B2B2B;
      position: absolute; }
      .nav-header .nav-burger span:nth-child(1) {
        top: 0px; }
      .nav-header .nav-burger span:nth-child(2) {
        top: 10px; }
      .nav-header .nav-burger span:nth-child(3) {
        top: 20px; }

.left {
  position: absolute;
  background: #2B2B2B;
  height: 100%;
  z-index: 10;
  top: 0;
  width: 100px;
  transform: translateX(-100px); }

.visible {
  transform: translateX(100px); }
  .visible .menu-item {
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    border-bottom: solid 1px #555;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #B0B0B0; }
  .visible .menu-item:hover {
    color: #F0F0F0; }

/*# sourceMappingURL=main.css.map */
